<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일명</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="name" placeholder="이름을 입력하세요" />
      <br />
      <input type="text" v-model="user.age" placeholder="나이를 입력하세요" />
      <br />
      <input
        type="text"
        v-model="user.email"
        placeholder="이메일을 입력하세요"
      />
      <br />
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
      const { createApp, ref, reactive, watch } = Vue;

      const app = createApp({
        setup() {
          const name = ref('');
          const user = reactive({
            age: 0,
            email: '',
          });

          watch(name, (newVal, oldVal) => {
            console.log(`이름이 ${oldVal}에서 ${newVal}로 변경됨`);
          });
          // 주소값으로만 가져와서 더 깊이있는 값에 접근 X
          // watch.는 첫번째 인자로 감시하고 싶은 데이터의 getter 함수를 받음
          // reactive 객체를 직접 감시할 경우 newVal, oldVal 동일한 Proxy 객체를 참조하게 됨

          //   watch(user, (newVal, oldVal) => {
          //     console.log(`사용자 정보가 변경됨 ${oldVal.age}`);
          //     console.log(`사용자 정보가 변경됨 ${newVal.age}`);
          //   });
          watch(
            () => ({ ...user }),
            (newVal, oldVal) => {
              console.log(`사용자 정보가 변경됨 ${oldVal.age}`);
              console.log(`사용자 정보가 변경됨 ${newVal.age}`);
            },

            // 중첩된 객체의 변경되 감지
            { deep: true }
          );

          return {
            name,
            user,
          };
        },
      });

      const vm = app.mount('#app');
    </script>
  </body>
</html>
